* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(54, 54, 205);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {

  display: flex;
  justify-content: center;
  padding:  1em 0;
  width: 100%;
  box-shadow: 1px 1px 7px 1px #fff;
  margin-bottom: .5em;
}

header h2 {
  color: #ffeb3b;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 1em;
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  color: #fff;
  width: 7em;
  height: 2.5em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  cursor: pointer;
}

button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

button:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
 
}

button:hover::before {
  filter: blur(20px);
}

button:active {
  background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
}

.selection {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.utility-div {
  padding: 2em;
  width: 60vw;
  display: flex;
  justify-content: space-between;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.player {
  height: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.container {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  padding: 1em;
}